jobs:
- template: job-check.yaml@templates
  parameters:
    name: cargo check
- template: job-fmt.yaml@templates
  parameters:
    name: rustfmt

resources:
  repositories:
    - repository: templates
      type: github
      name: norse-rs/azure-ci
      endpoint: msiglreith
